{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "node": "current"
        },
        "useBuiltIns": true
      }
    ],
    "react",
    "es2015",
    "stage-1"
  ]
}
